@font-face {font-family: Helvetica; src: url('../fonts/FreeSans.ttf');}

.container {
    width: 400px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 30px 30px;
    background-color: #1e1e1e;
    border-radius: 50px;
    display: grid;
    grid-template-rows: 30fr 70fr;
    grid-template-areas:
    "box"
    "button-grid";
}

.box {
    grid-area: box;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-areas:
    "ipdis"
    "opdis";
}

.input-display {
    grid-area: ipdis;
    font-family: 'Helvetica';
    font-size: 40px;
    margin-right: 10px;
    text-align: right;
    color: #d3d3d1;
    overflow: auto;
    
}

.output-display {
    grid-area: opdis;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 80px;
    margin-right: 10px;
    text-align: right;
    color: #d3d3d1;
}

.buttons {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #A5A5A5;
    color: #181818;
    border-radius: 50%;
    margin: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    font-family: 'Helvetica';
    font-size: 50px;
    background-position: center;
    transition: background 0.5s;
}

.buttons:hover {
    background: #e9e9e9;
    transition: background 0.2s;
}

.buttons:active {
    background-color: #ffffff;
    background-size: 100%;
    transition: background 0.2s;
}

.button-section {
    padding-top: 20px;
    grid-area: button-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "clear zero add equals";
}

#clear {
    grid-area: clear;
    align-self: center;
    justify-self: center;
}

#zero {
    grid-area: zero;
    align-self: center;
    justify-self: center;
}

#plus {
    grid-area: add;
    align-self: center;
    justify-self: center;
    padding-bottom: 10px;
}

#equals {
    grid-area: equals;
    align-self: center;
    justify-self: center;
    padding-bottom: 10px;
    background-color: #FF9201;
}

#one {
    grid-area: one;
    align-self: center;
    justify-self: center;
}

#two {
    grid-area: two;
    align-self: center;
    justify-self: center;
}

#three {
    grid-area: three;
    align-self: center;
    justify-self: center;
}

#minus {
    grid-area: subtract;
    align-self: center;
    justify-self: center;
    padding-bottom: 5px;
}

#four {
    grid-area: four;
    align-self: center;
    justify-self: center;
}

#five {
    grid-area: five;
    align-self: center;
    justify-self: center;
}

#six {
    grid-area: six;
    align-self: center;
    justify-self: center;
}

#multiply {
    grid-area: multiply;
    align-self: center;
    justify-self: center;
    padding-bottom: 10px;
}

#seven {
    grid-area: seven;
    align-self: center;
    justify-self: center;
}

#eight {
    grid-area: eight;
    align-self: center;
    justify-self: center;
}

#nine {
    grid-area: nine;
    align-self: center;
    justify-self: center;
}

#division {
    grid-area: divide;
    align-self: center;
    justify-self: center;
}



