.title-text {
    text-align: center;
    height: 100px;
    margin-top: 50px;
}

.container {
    width: 400px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-template-areas:
    "box"
    "button-grid";
}

.box {
    grid-area: box;
}

.button-section {
    grid-area: button-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "clear zero add equals";
}

#clear {
    grid-area: clear;
}

#zero {
    grid-area: zero;
}

#plus {
    grid-area: add;
}

#equals {
    grid-area: equals;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#minus {
    grid-area: subtract;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#multiply {
    grid-area: multiply;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#division {
    grid-area: divide;
}



